.main-container-signup-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    /* border: 1px solid red; */

}

.signup-title-modal {
    font-size: 30px;
    padding-bottom: 5px;

}

.div-container-signup-modal {
    display:block;

    /* border-radius: 10px; */
    height: 670px;
    border-top: 1px solid rgb(235, 235, 235);
    padding-left: 20px;
    padding-right: 20px;

}

.label-style-signup-modal {
    display: flex;
    font-size: 22px;
    min-width: 56px;
    width: 100%;
    padding: 26px 36px 10px 12px;
    margin: 0px;
    flex-direction: column;
}


.input-signup-modal {
    display: block;
    width: 800px;
    height: 60px;
    font-size: 22px;
    line-height:  1.43;
    border-radius: 8px;

}


.button-signup-modal {
    display: block;
    width: 810px;
    min-width: 200px;
    background-color: rgb(227, 28, 95);
    margin-bottom: 15px;
    margin-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 25px;
    color: white;
    font-weight: 300;
    height: 60px;
}

.ul-error-signup-modal {
    font-size: 22px;
    margin-bottom: 0px;
}
