

.spot-rev {
    margin-bottom: 20px;
    width: 800px;
    text-align: justify;
}

.spot-rev-info {
    padding-bottom: 20px;
    margin-bottom: 60px;
    font-size: 20px;
    width: 800px;
    text-align: justify;
}

.star-rev1 {
    font-size: 20px;
}

