.trip-reservation-outer-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.trip-reservation-container {
    min-width: 620px;
    max-width: 620px;
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
}

.trip-reservation-inner-container {
    margin: 12px 12px 0;
}

.trip-reservation-img-container {
    margin-bottom: 8px;
    width: 100%;
}

.trip-reservation-img {
    object-fit: cover;
    width: 579px;
    height: 416px;
    border-radius: 6px;
}

.trip-reservation-info-container {
    padding-right: 24px;
    padding-left: 24px;
    font-family: 'Montserrat', sans-serif;
}

.trip-reservation-check-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}

.trip-reservation-checkin-checkout-container {

}

.trip-reservation-checkin-container {
    width: 50%;
    padding-right: 24px;
    height: 72px;
}

.trip-reservation-checkin {
    font-weight: 700;
}


.trip-reservation-checkin-date {
    margin-bottom: 4px;
    margin-top: 8px;
}

.trip-reservation-checkin-time {

}

.trip-reservation-checkout-container {
    width: 50%;
    padding-left: 24px;
    height: 72px;
}


.trip-reservation-checkout {
    font-weight: 700;
}

.trip-reservation-checkout-date {
    margin-top: 8px;
    margin-bottom: 4px;
}

.trip-reservation-details-container {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 32px;

}

.trip-reservation-reserved-details-container {
    padding: 24px 0;

}

.trip-reservation-reserved-details {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 32px;
}

.trip-reservation-guest-coming {
    font-weight: 700;
}

.trip-reservation-guests {
    margin-top: 16px;
    margin-bottom: 16px;
}

.trip-reservation-cancel {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    font-weight: 500;
    cursor: pointer;
    align-items: center;
}


.trip-reservation-cancel-reservation {
    margin-left: 16px;
}


.trip-reservation-direction-container {
    padding: 24px 0;
}

.trip-reservation-direction {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 32px;
}

.trip-reservation-address {
    font-weight: 700;
}

.trip-reservation-address-info-top {
    margin-top: 8px;
}

.trip-reservation-address-info-bottom {
    margin-bottom: 8px;
}

.trip-reservation-staying-container {
    padding: 24px 0;
}

.trip-reservation-where-staying {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 32px;
}

.trip-reservation-house-rules {
    font-weight: 700;
}

.trip-reservation-house-info {
    margin-top: 8px;
    margin-bottom: 8px;
}

.trip-reservation-hosted-by-container {
    padding: 24px 0;
}

.trip-reservation-hosted-by {
    font-weight: 700;
    font-size:  22px;
    padding-bottom: 32px;
}

.trip-reservation-host-about {
    font-weight: 700;
}

.trip-reservation-host-about-info {
    margin-top: 8px;
    margin-bottom: 8px;
}

.trip-reservation-host-profile {
    font-weight: 600;
}

.trip-confirmed-payment-container {
    padding: 24px 0;
}

.trip-confirmed-payment {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 32px;
}

.trip-confirmed-payment-details {
    font-weight: 700;
}

.trip-confirmed-payment-cost {
    margin-top: 8px;
    margin-bottom: 8px;
}

.trip-reservation-map-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.trip-reservation-divider {
    margin-left: -24px;
    margin-right: -24px;
    height: 8px;
    background-color: rgb(235, 235, 235);
}
