

.main-edit-div {
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 100%;

}

.li-edit {
    font-size: 24px;
    color: red;
}

.li-edit-error-asterisk {
    color: red;
}

.h2-info2 {
    text-align: center;
    font-size: 40px;
    margin-left: -120px;
}

.div-container-edit {
    display: block;
    /* border: 1px solid black; */
    border-radius: 8px;
    width: 50%;
    padding: 10px;
    margin: auto;

}

.input-style-edit {
    border-radius: 10px;
    height: 60px;
    width: 80%;
    margin-bottom: 25px;
    margin-left: 10px;
    font-size: 22px;
    padding-left: 10px;
}

.input-style-star2{
    height: 30px;
    width: 80%;
    font-size: 20px;
}


.button-edit {
    display: block;
    width: 82%;
    height: 60px;
    background-color: rgb(227, 28, 95);
    margin-left: 10px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    /* font-size: 35px; */
    cursor: pointer;

    font-weight: 400;
}
