
.div-current-spot {
    display: block;
}
/* main div container for whole page */

.main-div-3 {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red;*/
    margin-top: 40px;
}

/* class for image */
.img-div-3 {
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.h1-current-spot {
    margin: 10px;
    text-align: center;
    font-size: 50px;
    color: rgb(148, 133, 133);
    /* font-family: Arial, Helvetica, sans-serif; */
}


/* div for details address, city,state */
.info-div-3 {
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-bottom: 5px;
    font-size: 25px;
}


/* div for adress -bold? */
.address-div {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
}

/* class for price */
.price-div-3 {
    padding-bottom: 10px;
    font-size: 25px;
}


/* class for two buttons */




/* class for one button */
.one-button {
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    background-color: rgb(227, 28, 95);
    padding: 5px;
    margin: 0px 0px 15px 3px;
    width: 200px;
    font-size: 25px;
    color: white;
    font-weight: 500;

}
