/* main container */

.center-spot-detail {
    padding-left: 70px;
    padding-right: 70px;

}

@media screen and (min-width: 1800px) {
    .center-spot-detail {
        padding-left: 400px;
        padding-right: 400px;
    }
}


.main-div2 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px;
    min-width: 55vw;
}

/* name */
.name-div {
    color: black;
    text-align: left;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 15px;
    padding-top: 10px;
    font-weight: 500;

    overflow: hidden;
    text-overflow: ellipsis;
}


/* avgRating, reviews, city, state, country */
.top-div-info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.span-info1 {

    margin-top: 4px;
    align-items: center;
    display: inline-flex;
    font-size: 20px;
}

.space-div2 {
    padding-left: 10px;
    margin-top: -5px;
}

.span-info2 {
    line-height: 20px;
    align-items: center;
    display: inline-flex;
    padding-left: 60px;
    font-size: 20px;
    margin-bottom: -5px;
}

.h2-spot {
    font-size: 27px;
    font-weight: 500;
}

.img-div-spot1-container {
    /* justify-content: center;
    align-items: center;
    display: flex; */

    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); */
    display: flex;
    gap: 0.5%;
    width: 100%;
    flex-basis: 100%;
    max-height: 550px;
    min-height: 550px;
}


/* border top separation */

.border-div {
    border-top: 1px solid #d8d8d8;
    border-top-width: medium;
    border-bottom: 1px solid #d8d8d8;
    border-bottom-width: medium;
    padding: 30px 10px 30px 0;
    font-size: 20px;
}

/* button + avgRating */
.stars-div {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    font-size: 20px;
    padding-bottom: 0px;
    /* border-top: 1px solid #d8d8d8;
    border-top-width: medium; */
    margin-bottom: 80px;
}


/* button style */

.button-div2 {
    border-radius: 10px;
    align-items: center;
    display: flex;
    /* font-size: 20px; */
    justify-content: center;
    max-width: 30%;
    /* background: transparent; */
    position: relative;
    width: 450px;
    height: 80px;
    padding-left: 20px;
    margin-left: 700px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bolder;

    background-color: rgb(227, 28, 95)
}


@media screen and (max-width: 1900px) {

    .button-div2 {
        margin-left: 400px;
    }

    .center-spot-detail {
        margin-left: 50px;
        margin-right: 50px;
    }
}


.my-navlink-style3 {
    text-decoration: none;
    color: white;
    background-color: rgb(227, 28, 95);
    width: 100px;
    font-size: 25px;
}



/* review length */

.span-info3 {
    min-width: 0px;
    padding-top: 10px;
    align-items: center;
    display: inline-flex;
    font-size: 20px;

}

.space-div2 {
    padding-left: 10px;
    padding-top: 5px;
}





/* multiple images css */

.spot-img-container {
    width: 100%;
    object-fit: cover;

    /* justify-content: center; */
    /* display: flex; */
    /* align-content: center; */

    align-items: center;
  }

  .spot-image {
    width: 100%;
    max-width: 100%;

    /* object-fit: contain */

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    /* border-radius: 10px; */
  }
  .preview-images {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    border: none;
    /* border-radius: 10px; */
  }

  .spot-img-flex {
    display: flex;

    /*row-gap: 1%  */

    /* gap: 0.5%; */
    gap: 8px;
    width: 100%;
    flex-basis: 100%;
    max-height: 700px;
    min-height: 700px;
  }

  .spot-first-image {
    display: flex;
    background-color: #efefef;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    width: 100%;
  }
  .spot-preview-images {
    display: flex;
    /* gap: 1.5%; */
    gap: 10px;
    width: 100%;
    overflow: hidden;
  }
  .preview-containers {
    display: flex;
    flex-direction: column;
    /* flex: 1 2*/
    flex-grow: 1;
    /* gap: 1.5%; */
    gap: 10px;
    flex-shrink: 1;
    width: 50%;
  }
  .spot-preview-image {
    display: flex;
    max-height: 49.25%;
    min-height: 49.25%;

    flex-grow: 1;
  }

  .right-top-img {
    border-top-right-radius: 10px;
  }

  .right-bottom-img {
    border-bottom-right-radius: 10px;
  }

  @media screen and (min-width: 2100px) {

    .spot-img-flex {
        min-height: 800px;
        max-height: 800px;
    }

    .name-div {
        font-size: 45px;
    }

    .h2-spot {
        font-size: 34px;
    }
  }


  /* testing long chars */

  .test-detail {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
  }

  .test-info {
    text-overflow: ellipsis;
  }

  .test-h1 {
    max-width: 100%;
  }
