
/*main div whole page */
.main-div-spots {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
    align-content: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: lighter;
    font-size: 20px;
    /* margin-right: 25px; */
    width: 100%;
}


.div-info3 {
    font-weight: bolder;
}

/* image + info div  card div*/
/* .card-div {

} */



/* image solo */
.img-div-1 {
    /* width: 450px;
    height: 450px; */
    border-radius: 8px;
}



/* details  1 city state avgrating*/
.info-div-spots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* details 2 price alone */
.price-div {
    padding-bottom: 20px;
}
