
 .nav-class {
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 4px 92px;
    height: 65px;
    border-bottom: 2px solid gray;
    border-width: thick;
    margin-bottom: 40px;

}


.nav-li {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    align-items: center;
    align-content: center;
    font-size: 25px;
    /* font-weight: bold; */
}


.logo-image {
    width: 60px;
    height: 55px;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-top: -6px;
}


.my-navlink-style {
    /* border: 5px solid yellow; */
    text-decoration: none;
    color:rgb(227, 28, 95);
}
