
 .nav-class {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 4px 92px;
    height: 65px;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}


.nav-li {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    align-items: center;
    align-content: center;
    font-size: 25px;
}




/* .my-navlink-style {
    display: flex;
    border: 1px solid red;
    width: 100px;


} */

/* .nav-right {
  border: 1px solid black;
  padding: 0px 0px 15px 0px;
} */



/* for logged in */

/*
.navStyle {
    display: flex;
    justify-content: flex-end;
    margin: -10px;
    padding-right: 50px;
}

.notNavStyle {
    display: inline-block;
} */
