
.nav-div {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}





/* for logged in */

/*
.navStyle {
    display: flex;
    justify-content: flex-end;
    margin: -10px;
    padding-right: 50px;
}

.notNavStyle {
    display: inline-block;
} */
