

.main-container-login {
    background: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    /* display: block; */
    /* position: absolute; */
    width: 700px;
    height: 470px;
    border-top: 1px solid rgb(235, 235, 235);



    /* border: 1px solid red; */
}



.login-modal-div-x {
    position: absolute;
    top: 22px;
    left: 24px;
    z-index: 1;
}

.login-modal-button-x {
    display: inline-block;
    position: relative;
    border: medium none;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    background: transparent;
    border-radius: 50%;
}

.login-title-modal {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;
    font-weight: 700;

}

.form-element {
    margin: 5px 0;
    font-size: 22px;

    /* border: 1px solid red; */
}

.input-login {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 22px;
    display: block;
}

.button1 {
    display: block;
    width: 101%;
    /* min-width: 200px; */
    height: 60px;
    background-color: rgb(227, 28, 95);
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 22px;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    cursor: pointer;

    border: none;
}

.button-logout {
    margin-right: 20px;
    font-size: 25px;
    /* border-radius: 8px; */
    width: 150px;
    color:rgb(227, 28, 95);
    border: none;

    cursor: pointer;
    background-color: transparent;

    font-weight: 700;

}


.welcome-div {
    color: black;
    text-align: left;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 500;
}


.error-li {
    font-size: 28px;
    /* list-style: circle; */
    color: red;
    margin-top: 0px;
}
